<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>立衡脊柱-后台管理主页</title>
<link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}" href="../../static/admin/css/admin.css" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/semantic/semantic.min.css}"
	href="../../static/lib/semantic/semantic.min.css" />
<script type="text/javascript" th:src="@{/lib/jquery-1.11.1.min.js}" src="../../static/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" th:src="@{/lib/semantic/semantic.min.js}" src="../../static/lib/semantic/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/admin/js/admin.js}" src="../../static/admin/js/admin.js"></script>

</head>

<body>

	<div class="ui left vertical inverted labeled icon sidebar menu ad-index-menu">
		<a class="item"> <i class="home icon"></i> Home
		</a> <a class="item"> <i class="block layout icon"></i> Topics
		</a> <a class="item"> <i class="smile icon"></i> Friends
		</a> <a class="item"> <i class="calendar icon"></i> History
		</a> <a class="item"> <i class="mail icon"></i> Messages
		</a> <a class="item"> <i class="chat icon"></i> Discussions
		</a> <a class="item"> <i class="trophy icon"></i> Achievements
		</a> <a class="item"> <i class="shop icon"></i> Store
		</a> <a class="item"> <i class="settings icon"></i> Settings
		</a>
	</div>

	<div class="ui fixed inverted main menu">
		<div class="container">
			<div class="ui button icon item ad-index-btn-menu">
				<i class="content icon"></i> 菜单
			</div>
			<div class="title item">
				<b>立恒脊柱</b> - 后台管理
			</div>
			<div class="right menu">
				<form th:action="@{/admin/logout}" method="post">
					<input class="title item ad-index-logout" type="submit" value="退出" /> <input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</div>

	<div class="pusher">
		<p th:text="'登录成功!'">登录成功!</p>
	</div>

</body>
</html>
