<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../favicon.ico">
<title>立衡脊柱 - 康复案例</title>
<!-- Bootstrap core CSS -->
<link href="../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../resources/scrollup/css/themes/image.css" rel="stylesheet" type="text/css">
<!-- Add custom CSS here -->
<link href="../css/custom.css" rel="stylesheet">
<!-- JavaScript -->
<script src="../../resources/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../resources/bootstrap/js/bootstrap.min.js"></script>
<script src="../../resources/scrollup/js/jquery.scrollUp.min.js" charset="utf-8"></script>
</head>
<body>
	<div class="lhjz-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span
										class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="../index.html">立衡脊柱</a>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="about.html">关于我们</a></li>
									<li><a href="feature.html">疗法特色</a></li>
									<li class="active"><a href="case.html">康复案例</a></li>
									<li><a href="product.html">专利产品</a></li>
									<li><a href="env.html">店内环境</a></li>
									<li><a href="team.html">专家团队</a></li>
									<li><a href="health.html">脊柱健康</a></li>
									<li><a href="diagnose.html">在线诊断</a></li>
									<li><a href="contact.html">联系我们</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="lhjz-body">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="jumbotron lhjz-jumbotron">
						<h2>康复案例</h2>
						<p>立衡脊柱矫正院(立衡脊柱)成立于1994年，在全国有四家分支机构，现在北京开设第一家分支机构。立衡脊柱是一家致力于治疗脊柱病以及脊柱相关疾病的一家矫正机构。我机构以平衡矫正为核心理念，利用多项专利设备以及器具，加以相关辅助疗法组合成一套综合疗法，其疗效显著，二十多年来治愈无数患者。
							立衡脊柱不仅是一家严格要求自己，注重自身健康发展的机构。</p>
						<p>
							<a class="btn btn-primary btn-large" href="#more">查看更多  &gt;&gt;</a>
						</p>
						<div id="more"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x200" src="../img/img1.jpg" />
						<div class="caption">
							<h3>案例一</h3>
							<p>是的，这部分就是内容啦！</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x200" src="../img/img2.jpg" />
						<div class="caption">
							<h3>案例二</h3>
							<p>对的，这部分就是内容啦！</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x200" src="../img/img3.jpg" />
						<div class="caption">
							<h3>案例三</h3>
							<p>没错，这部分就是内容啦！</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x200" src="../img/img2.jpg" />
						<div class="caption">
							<h3>案例四</h3>
							<p>对的，这部分就是内容啦！</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">更多 »</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer class="lhjz-footer ">
		<div class="container">
			<div class="row footer-top">
				<div class="col-sm-6 col-lg-6">
					<div class="col-xs-6">
						<h4>
							<img src="../logo_128.jpg">
						</h4>
					</div>
					<div class="col-xs-6">
						<h4>
							<img src="../wechat_128.jpg">
						</h4>
					</div>
				</div>
				<div class="col-sm-6  col-lg-5 col-lg-offset-1">
					<div class="row about">
						<div class="col-xs-3">
							<h4>关于</h4>
							<ul class="list-unstyled">
								<li><a href="about.html">关于我们</a></li>
								<li><a href="team.html">专家团队</a></li>
								<li><a href="env.html">店内环境</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>联系方式</h4>
							<ul class="list-unstyled">
								<li><a href="http://weibo.com/bootcss" title="立衡脊柱官方微博" target="_blank">新浪微博</a></li>
								<li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>产品案例</h4>
							<ul class="list-unstyled">
								<li><a href="feature.html">疗法特色</a></li>
								<li><a href="product.html">专利产品</a></li>
								<li><a href="case.html">康复案例</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>健康诊断</h4>
							<ul class="list-unstyled">
								<li><a href="health.html">脊柱健康</a></li>
								<li><a href="diagnose.html">在线诊断</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<p class="copyright text-muted small">Copyright &copy; 北京立衡脊柱 2014. 保留所有权利</p>
				</div>
			</div>
			<div class="row footer-bottom">
				<ul class="list-inline text-center">
					<li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li>
					<li>京公网安备11010802014853</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>