<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../favicon.ico">
<title>立衡脊柱- 联系我们</title>
<!-- Bootstrap core CSS -->
<link href="../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../resources/scrollup/css/themes/image.css" rel="stylesheet" type="text/css">
<!-- Add custom CSS here -->
<link href="../css/custom.css" rel="stylesheet">
<!-- JavaScript -->
<script src="../../resources/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../resources/bootstrap/js/bootstrap.min.js"></script>
<script src="../../resources/scrollup/js/jquery.scrollUp.min.js" charset="utf-8"></script>
</head>
<body>
	<div class="lhjz-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span
										class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="../index.html">立衡脊柱</a>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="about.html">关于我们</a></li>
									<li><a href="feature.html">疗法特色</a></li>
									<li><a href="case.html">康复案例</a></li>
									<li><a href="product.html">专利产品</a></li>
									<li><a href="env.html">店内环境</a></li>
									<li><a href="team.html">专家团队</a></li>
									<li><a href="health.html">脊柱健康</a></li>
									<li><a href="diagnose.html">在线诊断</a></li>
									<li class="active"><a href="contact.html">联系我们</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="lhjz-body">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="row">
						<div class="col-md-12">
							<div class="thumbnail lhjz-margin-top20"><div class="caption lhjz-contact">

									<h3>北京立衡脊柱健康科技有限公司</h3>
									<div><span class="glyphicon glyphicon-home"></span> <span class="lhjz-contact-item-name">地址:</span></span> <span>北京丰台马家堡东路公益东桥北路东海上海花园168号立衡脊柱</span></div>
									<div><span class="glyphicon glyphicon-earphone"></span> <span class="lhjz-contact-item-name">电话:</span> 18921345678</div>
									<div><span class="glyphicon glyphicon-envelope"></span> <span class="lhjz-contact-item-name">邮箱:</span> 168171468@qq.com</div>
									<div><span class="lhjz-icon lhjz-icon-qq"></span> <span class="lhjz-contact-item-name">QQ:</span> 168171468</div>
									<div><span class="lhjz-icon lhjz-icon-bus"></span> <span class="lhjz-contact-item-name">公交:</span> 453路, 29路, 58路</div>
									<div><span class="glyphicon glyphicon-map-marker"></span> <span class="lhjz-contact-item-name">地图:</span><br/><img class="lhjz-map" alt="300x200" src="../img/map1.jpg" /></div>
									<div><span class="glyphicon glyphicon-map-marker"></span> <span class="lhjz-contact-item-name">地图:</span><br/><img class="lhjz-map" alt="300x200" src="http://api.map.baidu.com/staticimage?center=116.403874,39.914888&width=800&height=600&zoom=11" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="lhjz-footer ">
		<div class="container">
			<div class="row footer-top">
				<div class="col-sm-6 col-lg-6">
					<div class="col-xs-6">
						<h4>
							<img src="../logo_128.jpg">
						</h4>
					</div>
					<div class="col-xs-6">
						<h4>
							<img src="../wechat_128.jpg">
						</h4>
					</div>
				</div>
				<div class="col-sm-6  col-lg-5 col-lg-offset-1">
					<div class="row about">
						<div class="col-xs-3">
							<h4>关于</h4>
							<ul class="list-unstyled">
								<li><a href="about.html">关于我们</a></li>
								<li><a href="team.html">专家团队</a></li>
								<li><a href="env.html">店内环境</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>联系方式</h4>
							<ul class="list-unstyled">
								<li><a href="http://weibo.com/bootcss" title="立衡脊柱官方微博" target="_blank">新浪微博</a></li>
								<li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>产品案例</h4>
							<ul class="list-unstyled">
								<li><a href="feature.html">疗法特色</a></li>
								<li><a href="product.html">专利产品</a></li>
								<li><a href="case.html">康复案例</a></li>
							</ul>
						</div>
						<div class="col-xs-3">
							<h4>健康诊断</h4>
							<ul class="list-unstyled">
								<li><a href="health.html">脊柱健康</a></li>
								<li><a href="diagnose.html">在线诊断</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<p class="copyright text-muted small">Copyright &copy; 北京立衡脊柱 2014. 保留所有权利</p>
				</div>
			</div>
			<div class="row footer-bottom">
				<ul class="list-inline text-center">
					<li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li>
					<li>京公网安备11010802014853</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>