<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../css/test.css" rel="stylesheet" type="text/css" />
<script src="../js/test.js" type="text/javascript"></script>
</head>

<body>
	<p th:text="#{home.welcome}">Welcome!</p>
	<img alt="test image" src="../img/test.png" />
	<table>
		<thead>
			<tr>
				<th th:text="#{home.id}">ID</th>
				<th th:text="#{home.name}">Name</th>
				<th th:text="#{home.password}">Password</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}">1</td>
				<td th:text="${user.name}">Tester</td>
				<td th:text="${user.password}">******</td>
			</tr>
		</tbody>
	</table>
</body>

</html>