div.admin.login {
	min-width: 300px;
	max-width: 300px;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.ad-index-content {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 12px;
}

.ad-index-container{
	margin-left: 250px;
	position: relative;
}

.ad-index-rail{
	
}

.ad-index-sticky{
	width: 120px;
}

@media only screen and (max-width: 767px) {
	
	.ad-index-rail {
		display: none;
	}

	.ad-index-container {
		margin-left: 12px;
	}
}

/* start <admin/resource.html> */
#dropzone {
	max-width: 500px;
	margin: auto;
}

.dropzone {
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;
}

.dropzone .dz-message {
	font-weight: 400;
	font-size: x-large;
}

/* end <admin/resource.html> */