div.admin.login {
	min-width: 300px;
	max-width: 300px;
	top: 50px;
}

.ad-index-content {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 12px;
}

.ad-index-container{
	margin-left: 250px;
	position: relative;
}

.ad-index-rail{
	
}

.ad-index-sticky{
	width: 120px;
}

@media only screen and (max-width: 767px) {
	
	.ad-index-rail {
		display: none;
	}

	.ad-index-container {
		margin-left: 12px;
	}
}